@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #071a52;
    background-image: linear-gradient(62deg, #071a52 0%, #086972 50%, #071a52 100%);
}

.about-section{
    background:url(../img/darthcodeNeon.png) no-repeat left ;
    background-size: 70%;
    overflow: hidden;
    padding: 100px 0;
    
}

.inner-containerAbout{
    width: 60%;
    float: right;
    background-color: #001246;
    background-image: linear-gradient(62deg, #071a52 0%, #086972 50%, #071a52 100%);
    padding: 130px;
    color: rgb(167, 255, 131);
    box-shadow: 0px 0px 20px 0px rgb(167, 255, 131);
    border-radius: 10px;
    margin-right: 20px;
}

.inner-containerAbout h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
}

.inner-containerAbout p{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    font-weight: 1000;
    font-size: 24px;
    justify-content: space-between;
}

span{
    margin-right: 10px;
}

@media screen and (maxi-width:1200px){
    .inner-containerAbout{
        padding: 80px;
    }
}

@media screen and (maxi-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-containerAbout{
        padding: 80px;
    }
}

@media screen and (maxi-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-containerAbout{
        padding: 60px;
    }
}
.inner-containerAbout:hover{
    background-color: #17b978;
    background-image: linear-gradient(43deg, #17b978 0%, #a7ff83 50%, #17b978 100%);
    color:#071a52;
    transition: .5s all;
    transform: scale(1.1);
}