<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/Services.css">
  <title>Services</title>
</head>
<body>
  <section id="Services">
    <div class="ContainerServ">
        <div class="tableServ">
            <h2>Desarrollo Web</h2>
            <h3></h3>
            <p>Una plataforma completamente segura, robusta y a la medida para ti.</p>
            <a href=""class = "buttonServ">Conoce Mas</a><br>
            <div class="imgServ">
                <img src="./img/Desarrolloweb.png" alt="Desarrolloweb">
            </div>
        </div>
        <div class="tableServ">
            <h2>Posicionamiento SEO</h2>
            <h3></h3>
            <p>Ocupa los primeros puestos en Google y mas buscadores con nosotros !</p>
            <a href=""class = "buttonServ">Conoce Mas</a><br>
            <div class="imgServ">
                <img src="./img/SEO.png" alt="PosicionamientoSEO">
            </div>
        </div>
        <div class="tableServ">
            <h2>Consultoria Digital</h2>
            <h3></h3>
            <p>Estamos para apoyarte objetivamente en cualquier decision que pueda ser tomada por intuicion. </p>
            <a href=""class = "buttonServ">Conoce Mas</a><br>
            <div class="imgServ">
            <img src="./img/Digital.png" alt="ConsultoriaDigital">
            </div>
        </div>
    </div>
    </section>

  
  <script src="./js/Services.js"></script>
</body>
</html>